<div class="container-fluid m-3">
  <div class="row">
    <form class="specificationForm col-5">
      <button type="button" class="btn btn-primary float-right" (click)="submitSpec(specificationInput.innerText)"
              routerLinkActive="current-selection"
              routerLink="/documentation/{{generateUuid()}}">Submit
      </button>
      <pre class="specificationField" contenteditable="true" #specificationInput><code [highlight]="mock"></code></pre>
    </form>
    <div class="col-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
