.specificationField {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
}

.specificationForm {
  white-space: pre;
}

.submitButton {
  position: absolute;
  top: 25px;
  right: 50px;
  max-height: 40px;
  text-align: center;
}
