<div class="container-fluid">
  <div class="row">
    <form class="specificationForm col-5">
      <pre>
        <code class="specificationField" contenteditable="true" #specificationInput [highlight]="mock"></code>
          <button type="button" class="btn btn-primary float-right submitButton"
                  (click)="submitSpec(specificationInput.innerText)"
                  routerLinkActive="current-selection"
                  routerLink="/documentation/{{generateUuid()}}">Submit
          </button>
      </pre>
    </form>
    <div class="col-7 mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
