.specification-field {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
}

.specification-form {
  white-space: pre;
}

.validate-button {
  background-color: green;
  position: absolute;
  top: 25px;
  right: 180px;
  max-height: 40px;
  text-align: center;
}

.submit-button {
  position: absolute;
  top: 25px;
  right: 50px;
  max-height: 40px;
  text-align: center;
}
