.method-container {
  overflow: auto;
  margin-bottom: 10px;
}

.method-header-container {
  padding: 6px;
  margin-top: 4px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid;
}

.http-method {
  display: inline-block;
  position: relative;
  text-align: center;
  font-weight: bold;
  color: white;
  width: 7%;
  height: 25px;
  border-radius: 5px;
}

.url {
  margin-left: 1%;
  text-align: center;
  font-weight: bold;
}

.method-description {
  margin-left: 1%;
  text-align: center;
}

.method-parameters-header {
  text-align: center;
  font-weight: bold;
  border: 1px solid;
}

.method-parameters-container {
  text-align: left;
  border: 1px solid;
}

.param-required-marker {
  display: inline-block;
  position: relative;
  color: red;
}

.param-required-text {
  display: inline-block;
  position: relative;
  color: red;
  font-size: x-small;
  vertical-align: top;
}

.param-type {
  font-size: smaller;
}

.param-in {
  color: grey;
  font-style: italic;
}

.method-payload-header {
  text-align: center;
  font-weight: bold;
  border: 1px solid;
}

.method-payload-container {
  text-align: left;
  border: 1px solid;
}

.payload-description {
  font-weight: normal;
  margin-left: 1%;
  text-align: center;
}

.schema {
  font-size: smaller;
}

.payload-required-marker {
  padding-left: 5px;
  display: inline-block;
  position: relative;
  color: red;
}

.payload-required-text {
  display: inline-block;
  position: relative;
  color: red;
  font-size: x-small;
  vertical-align: top;
}

.method-responses-header {
  text-align: center;
  font-weight: bold;
  border: 1px solid;
}

.method-responses-container {
  text-align: left;
  border: 1px solid;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
